.footer {
    background-color: #111; /* Dark background */
    color: white;           /* Text color */
      /* Padding around the footer */
       /* Center text */
       width: 800px;
       margin-left: 10rem;
  }
  .footer__content {
    display: flex;          /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
 
  }
  .footer__links{
    padding: 10px;/* Space between links */
  }
  .footer__links a {
  color: white;        
  font-size: 14px;  /* Link color */
  text-decoration: none;  /* Remove underline */
}
.footer__links a:hover {
  text-decoration: underline;       /* Change color on hover (Netflix red) */
}
.footer_btn{
  margin-top: 1rem;
 border-style: solid;
 border-color: gray;
 width: 7rem;
 height: 2rem;
    background-color: transparent;
    color: gray;
}
.footer__bottom {
  margin-top: 15px;      /* Space above the copyright text */
  font-size: 0.8rem;
padding-bottom: 1rem;
}
.image-gallery__grid{
  margin-top: 2rem;
  width: 3rem;
  height: 1.2rem;
}