.row {
  color: white;
  margin-left: 10px;
}

.row__posters {
  display: flex;        
  overflow-y: hidden;                      /* Use flexbox for horizontal layout */
  overflow-x: scroll;              /* Allow horizontal scrolling */
  /* Disable vertical scrolling */
  padding: 20px;                 /* Padding around posters */
  scroll-behavior: smooth;       /* Smooth scrolling effect */
   
}
.row__posters::-webkit-scrollbar{
  scrollbar-width: none;  
}

.row__poster {
  max-height: 150px;            /* Set max height for posters */
  object-fit: contain;          /* Maintain aspect ratio */
  margin-right: 10px;           /* Space between posters */
  cursor: pointer;              /* Pointer on hover */
  transition: transform 450ms;  /* Animation effect */
  border-radius: 5px;           /* Rounded corners */
}

.row__poster:hover {
  transform: scale(2);       /* Zoom effect on hover */
  opacity: 1;                   /* Ensure full opacity */
}

/* Scroll arrow buttons */
.scroll-arrow {
  position: absolute;
  
  background-color: transparent;
  color: rgb(81, 80, 80);
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 2;
}

.scroll-arrow.left {
  left: 10px;  /* Position the left arrow */
  margin-top: 5rem;
}

.scroll-arrow.right {
  right: 10px;  /* Position the right arrow */
  margin-top: 5rem;
}

.scroll-arrow:hover {
  background-color:transparent;
  color: white;
}